.u-center-text { text-align: center; }
.u-uppercase-text { text-transform: uppercase; }
.u-text-bold { font-weight: 700; }

.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-small { margin-bottom: 2rem; }
.u-margin-bottom-super-small { margin-bottom: 1rem; };
.u-margin-top-small { margin-top: 2rem; }
.u-margin-super-small { margin-top: 1rem; }
.u-margin-top-big { margin-top: 8rem; }
.u-margin-left-super-small { margin-left: 0.5rem; }
.u-no-margin { margin: 0; };

.u-opacity-0 { opacity: 0; }

.u-display-none { display: none; }
.u-hidden { visibility: hidden; }

.u-rotateX-90 { transform: rotateX(90deg); };